*{
    padding: 0;
    margin: 0;
}
#tudo{
    
    width: 100%;
    background-color: #000;
    
}

#topo{
    width: 100%;
    background-color: darkgray;
    
}
#img{
    width: 30%;
    height: 119px;
    margin-left: 2%;
    background-color: activecaption;
}
#busca{
    width: 30%;
    height: 31.113px;
    margin-top: -70px;
    margin-left: 50%;
    float: left;
    border-radius: 5px;
}
#busc{
    width: 6%;
    float: right;
    margin-right:13%;
    margin-top: -64px;
    border-radius: 2px;
    border-bottom-style: none;
}
.link{
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    display: inline;
    margin-left: 40px;
    
}
#nav{
    width: 100%;
    height: 30.179px;
    background-color: grey;
}
.menu1{
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    display: inline;
    float: right;
    margin-right: 25px;
    
}
#menu2{
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    
    float: right;
    margin-right:25px;
    
}
ul{
    list-style: none;
    margin: 1.69px;
    padding: 0px;
    margin-left: 70%;
    margin-top: 10px;
    background-color: aliceblue;
    width: 10%;
    position: fixed;
}
.sub{
    display: none;
}
.es, h1{
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    margin-left: 5%;
    margin-top: 25px;
}








#rodape{
    width: 100%;
    height: 138px;
    background-color: lightslategrey;
    margin-top: 5%;
}
#logoEmp{
    width: 20%;
    height: 138px;
    margin-left: 2%;
    background-color: activecaption;
}

.icones, .icones1, .icones2{
    width: 3%;
    
    display: inline;
    
}
.icones{
    margin-left: 5%;
    
}
.pp{
    font-family: Arial;
    font-size: 15px;
    text-decoration: none;
    margin-right: 5%;
    margin-top: -40px;
    display: block;
    text-align: right;
}
#mark{
    font-family: Arial;
    font-size: 15px;
    margin-right: 2%;
    margin-top: -20px;
    display: block;
    text-align: center;
}